---
//LAYOUT
import Layout from "../layouts/Layout.astro";
//COMPONENTS
import Header from "../components/Header.astro";
import Main from "../layouts/Main.astro";
import Footer from "../components/Footer.astro";
//VARIABLES
const style = "";
const responsive = "";
---

<Layout name="CompanyName" ubication="Home">
	<Header />
	<Main>
		<h1>Bienvenido a tu página web</h1>
	</Main>
	<Footer />
</Layout>
