---
import Year from "../components/Year.svelte";
---

<footer
    class="flex sm:flex-row flex-col justify-center items-center gap-2 sm:p-4 p-2 bg-blue-300"
>
    <p class="sm:text-base text-sm">
        &copy; Hecho por
        <a href="https://github.com/LixFerox" class="text-blue-800 font-bold"
            >LixFerox</a
        >
    </p>
    <Year />
</footer>
