---
import SEO from "../components/SEO.astro";
import { SITE_NAME } from "../variables/config";
interface Props {
    ubication: string;
}
const { ubication } = Astro.props;
---

<html lang="es">
    <head>
        <SEO page={ubication} />
        <title>{`${SITE_NAME} - ${ubication}`}</title>
    </head>
    <body class="flex flex-col min-h-screen w-screen">
        <slot />
    </body>
</html>
